.img {
    display: block;
    width: 122px;
    height: 171px;
    object-fit: none;
    border-radius: 5px;
}

.♣_AA {
    object-position: -72px -60px;
}
.♣_02 {
    object-position: -205px -60px;
}
.♣_03 {
    object-position: -338px -60px;
}
.♣_04 {
    object-position: -472px -60px;
}
.♣_05 {
    object-position: -605px -60px;
}
.♣_06 {
    object-position: -738px -60px;
}
.♣_07 {
    object-position: -872px -60px;
}
.♣_08 {
    object-position: -1005px -60px;
}
.♣_09 {
    object-position: -1138px -60px;
}
.♣_10 {
    object-position: -1272px -60px;
}
.♣_JJ {
    object-position: -1405px -60px;
}
.♣_QQ {
    object-position: -1538px -60px;
}
.♣_KK {
    object-position: -1672px -60px;
}
.♥_AA {
    object-position: -72px -244px;
}
.♥_02 {
    object-position: -205px -244px;
}
.♥_03 {
    object-position: -338px -244px;
}
.♥_04 {
    object-position: -472px -244px;
}
.♥_05 {
    object-position: -605px -244px;
}
.♥_06 {
    object-position: -738px -244px;
}
.♥_07 {
    object-position: -872px -244px;
}
.♥_08 {
    object-position: -1005px -244px;
}
.♥_09 {
    object-position: -1138px -244px;
}
.♥_10 {
    object-position: -1272px -244px;
}
.♥_JJ {
    object-position: -1405px -244px;
}
.♥_QQ {
    object-position: -1538px -244px;
}
.♥_KK {
    object-position: -1672px -244px;
}
.♠_AA {
    object-position: -72px -429px;
}
.♠_02 {
    object-position: -205px -429px;
}
.♠_03 {
    object-position: -338px -429px;
}
.♠_04 {
    object-position: -472px -429px;
}
.♠_05 {
    object-position: -605px -429px;
}
.♠_06 {
    object-position: -738px -429px;
}
.♠_07 {
    object-position: -872px -429px;
}
.♠_08 {
    object-position: -1005px -429px;
}
.♠_09 {
    object-position: -1138px -429px;
}
.♠_10 {
    object-position: -1272px -429px;
}
.♠_JJ {
    object-position: -1405px -429px;
}
.♠_QQ {
    object-position: -1538px -429px;
}
.♠_KK {
    object-position: -1672px -429px;
}
.♦_AA {
    object-position: -72px -613px;
}
.♦_02 {
    object-position: -205px -613px;
}
.♦_03 {
    object-position: -338px -613px;
}
.♦_04 {
    object-position: -472px -613px;
}
.♦_05 {
    object-position: -605px -613px;
}
.♦_06 {
    object-position: -738px -613px;
}
.♦_07 {
    object-position: -872px -613px;
}
.♦_08 {
    object-position: -1005px -613px;
}
.♦_09 {
    object-position: -1138px -613px;
}
.♦_10 {
    object-position: -1272px -613px;
}
.♦_JJ {
    object-position: -1405px -613px;
}
.♦_QQ {
    object-position: -1538px -613px;
}
.♦_KK {
    object-position: -1672px -613px;
}

.revers {
    object-position: -1805px -60px;
}

.xxxsmall {
    position: absolute;
    transform: translateX(-35%) translateY(-35%) scale(30%);
}

.xxsmall {
    position: absolute;
    transform: translateX(-30%) translateY(-30%) scale(40%);
}

.xsmall {
    position: absolute;
    transform: translateX(-25%) translateY(-25%) scale(50%);
}

.small {
    position: absolute;
    transform: translateX(-20%) translateY(-20%) scale(60%);
}

.medium {
    position: absolute;
    transform: translateX(-15%) translateY(-15%) scale(70%);
}

.large {
    position: absolute;
    transform: translateX(-10%) translateY(-10%) scale(80%);
}

.xlarge {
    position: absolute;
    transform: translateX(-5%) translateY(-5%) scale(90%);
}

.xxlarge {
    position: absolute;
}

.xxxlarge {
    position: absolute;
    transform: translateX(10%) translateY(10%) scale(120%);
}